services:
# ------------------- Base de donnees Postgress ---------------
    db:
      image: postgres:15
      container_name: postgres_db
      restart: always
      environment: 
        POSTGRES_USER: postgres
        POSTGRES_PASSWORD: password1234
        POSTGRES_DB: translation
      ports:
        - "5432:5432"
      volumes:
        - postgres_data:/var/lib/postgresql/data
      healthcheck:
        test: ["CMD-SHELL", "pg_isready -U postgres"]
        interval: 5s
        timeout: 5s
        retries: 5
      networks:
      - app-network